body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    padding-left: 30px;
    padding-right: 30px;
}
.header {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}
.links {
    margin-left: auto;
}
.content1 {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}
.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.container2 {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
.content {
    height: 500px;
}
.content2 {
    display: flex;
    flex-direction: column;
}
.random-info {
    display: flex;
    justify-content: center;
}
.sections {
    display: flex;
    justify-content: center;
    gap: 52px;
}
.child {
    width: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content3 {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: center;
}
.credits {
    margin-left: auto;
}
.content4 {
    margin: 30px;
    box-sizing: border-box;
    background-color: blue;
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    align-items: center;
}
.call {
    display: flex;
    flex-direction: column;
}
.button2 {
    margin-left: auto;
}
