body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;

}
.header {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1F2937;
}
.headerbox {
    display: flex;
    flex: 1;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
.links {
    margin-left: auto;
    padding-right: 50px;
    display: flex;
    gap: 10px;
    font-size: 13px;
    font-weight: thin;
}
.content1 {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    flex: 1;
}
.content1box {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}
.container2 {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}
.content2 {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
    padding-bottom: 50px;
}
.random-info {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 28px;
}
.sections {
    display: flex;
    justify-content: center;
    gap: 52px;
}
.child {
    width: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content3 {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: center;
    background-color: #E5E7EB;
    flex: 1;
    padding-top: 80px;
    padding-bottom: 80px;
}
.credits {
    margin-left: auto;
}
.content4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.content4box {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1000px;
    background-color: royalblue;
    border-radius: 10px;
    display: flex;
    padding: 50px;
    align-items: center;
    flex: 1;
}
.button2 {
    margin-left: auto;
}
.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    color: white;
    font-size: 12px;
}
.logo {
    font-weight: bolder;
    color: white;
    padding-left: 50px;
}
.beginning {
    font-weight: bold;
    font-size: 28px;
    color: white;
}
.subtext {
    color: white;
    font-size: 15px;
}
button {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
}
.button2 {
    border: 2px solid white;
    border-radius: 8px;
}
a {
    text-decoration: none;
    color: white;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937
}
.credits {
    font-weight: bold;
    padding-top: 10px;
}
.time {
    color: white;
    font-weight: bold;
}
.signup {
    color: white;
    font-size: 14px;
}
.text {
    text-align: center;
}